@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Press+Start+2P&display=swap');


* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: #000107;
}

header {
    height: 100vh;
}

.navbar {
    background: #000107;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    margin-left: 230px;
}

.navbar a {
    color: #fff !important;
    font-size: 18px;
}

.navbar-nav {
    margin-left: 200px;
}

.navbar-nav a {
    margin-right: 30px;
    font-size: 15px;
}

.navbar-links {
    margin-left: 165px;
}

.icons {
    margin-right: 5px;
}

.hero {
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    position: absolute;
    margin-left: 230px;
    color: #fff;
    margin-top: 250px;
}

.hero span {
    color: blueviolet !important;
}

.hero h1 {
    margin-top: 20px;
}

.var {
    position: fixed;
    display: flex;
}

.hero p {
    width: 700px;
    margin-top: 90px;
    line-height: 25px;
    position: fixed;
}

::-webkit-scrollbar {
    width: 0;
}

.slider {
    display: flex;
    margin-left: 230px !important;
    margin-top: 40px;
    padding-bottom: 45px;

}

.dev-content {
    background: #0d001b;
    margin-right: 85px;
    padding-bottom: 45px;
    transition: .2s;
}

.dev-content:hover {
    box-shadow: 0 0px 30px blueviolet;
    transform: scale(1.05);

}

.dev-info h2,
p {
    color: #fff;
}

.dev-info h2 {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 38px;
    margin-top: 20px;
    text-align: center;
    line-height: 37px !important;
}

.dev-info p {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 23px;
    line-height: 30px;
    margin-top: 10px;
    text-align: center !important;
    margin: auto;
    margin-bottom: 20px;
}

.dev-info a {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-family: 'Annie Use Your Telescope', cursive;
    padding: 10px 12px;
    font-size: 24px;
    margin-left: 85px;
}

.dev-info a:hover {
    box-shadow: 0 2px 10px #fff;
    transform: scale(1.5);
}

.about-title {
    text-align: center;
    font-family: 'Annie Use Your Telescope', cursive;
    color: #fff;
}


.experience {
    display: flex;
}

.loading {
    display: flex;
    flex-direction: column;

    animation: load 5s ease;
    margin-bottom: 50px;

}

.loading .loading_page {
    width: 404px;
    height: 10px;
    border: 3px solid rgb(174, 0, 255) 90deg,
        rgba(125, 32, 231, 1) 0%,
        rgba(0, 212, 255, 0) 0%,
        rgba(114, 24, 215, 0.8603816526610644) 0%,
        rgba(60, 12, 136, 1) 44%,
        rgba(125, 32, 231, 1) 95%;
    background: linear-gradient(90deg,
            rgba(125, 32, 231, 1) 0%,
            rgba(0, 212, 255, 0) 0%,
            rgba(114, 24, 215, 0.8603816526610644) 0%,
            rgba(60, 12, 136, 1) 44%,
            rgba(125, 32, 231, 1) 95%);
    margin: auto;
    overflow: hidden;
}

.loading .loading_page .loading_wrap {
    width: 90%;
    height: 45px;
    background: rgb(174, 0, 255);
    animation: loading_page 5s ease-in-out;
}


@keyframes loading_page {
    from {
        transform: translateX(-100%);
    }

    to {
        width: 90%;
    }
}



/* ================================== KEYFRAMES 2 */
.loading_2 {
    display: flex;
    flex-direction: column;

    animation: loading_2 5s ease-in-out;
    margin-bottom: 50px;

}

.loading_2 .loading_page_2 {
    width: 404px;
    height: 10px;
    border: 3px solid rgb(174, 0, 255) 90deg,
        rgba(125, 32, 231, 1) 0%,
        rgba(0, 212, 255, 0) 0%,
        rgba(114, 24, 215, 0.8603816526610644) 0%,
        rgba(60, 12, 136, 1) 44%,
        rgba(125, 32, 231, 1) 95%;
    background: linear-gradient(90deg,
            rgba(125, 32, 231, 1) 0%,
            rgba(0, 212, 255, 0) 0%,
            rgba(114, 24, 215, 0.8603816526610644) 0%,
            rgba(60, 12, 136, 1) 44%,
            rgba(125, 32, 231, 1) 95%);
    margin: auto;
    overflow: hidden;
}

.loading_2 .loading_page_2 .loading_wrap {
    width: 60%;
    height: 45px;
    background: rgb(174, 0, 255);
    animation: loading_page_2 3s ease-in;
}


@keyframes loading_page_2 {
    from {
        transform: translateX(-100%);
    }

    to {
        width: 60%;
    }
}

/* ======================================== KEYFRAMES 3 */
.loading_3 {
    display: flex;
    flex-direction: column;
    animation: loading_3 7s ease-out;
    margin-bottom: 50px;

}

.loading_3 .loading_page_3 {
    width: 404px;
    height: 10px;
    border: 3px solid rgb(174, 0, 255) 90deg,
        rgba(125, 32, 231, 1) 0%,
        rgba(0, 212, 255, 0) 0%,
        rgba(114, 24, 215, 0.8603816526610644) 0%,
        rgba(60, 12, 136, 1) 44%,
        rgba(125, 32, 231, 1) 95%;
    background: linear-gradient(90deg,
            rgba(125, 32, 231, 1) 0%,
            rgba(0, 212, 255, 0) 0%,
            rgba(114, 24, 215, 0.8603816526610644) 0%,
            rgba(60, 12, 136, 1) 44%,
            rgba(125, 32, 231, 1) 95%);
    margin: auto;
    overflow: hidden;
}

.loading_3 .loading_page_3 .loading_wrap_3 {
    width: 75%;
    height: 45px;
    background: rgb(174, 0, 255);
    animation: loading_page_3 5s ease-out;
}


@keyframes loading_page_3 {
    from {
        transform: translateX(-100%);
    }

    to {
        width: 75%;
    }
}



/* ======================================== KEYFRAMES 4 */
.loading_4 {
    display: flex;
    flex-direction: column;
    animation: loading_4 7s ease-out;
    margin-bottom: 50px;

}

.loading_4 .loading_page_4 {
    width: 404px;
    height: 10px;
    border: 3px solid rgb(174, 0, 255) 90deg,
        rgba(125, 32, 231, 1) 0%,
        rgba(0, 212, 255, 0) 0%,
        rgba(114, 24, 215, 0.8603816526610644) 0%,
        rgba(60, 12, 136, 1) 44%,
        rgba(125, 32, 231, 1) 95%;
    background: linear-gradient(90deg,
            rgba(125, 32, 231, 1) 0%,
            rgba(0, 212, 255, 0) 0%,
            rgba(114, 24, 215, 0.8603816526610644) 0%,
            rgba(60, 12, 136, 1) 44%,
            rgba(125, 32, 231, 1) 95%);
    margin: auto;
    overflow: hidden;
}

.loading_4 .loading_page_4 .loading_wrap_4 {
    width: 50%;
    height: 45px;
    background: rgb(174, 0, 255);
    animation: loading_page_4 7s ease-in-out;
}


@keyframes loading_page_4 {
    from {
        transform: translateX(-100%);
    }

    to {
        width: 50%;
    }
}

/* ======================================== KEYFRAMES 5 */
.loading_5 {
    display: flex;
    flex-direction: column;
    animation: loading_5 7s ease-out;
    margin-bottom: 50px;

}

.loading_5 .loading_page_5 {
    width: 404px;
    height: 10px;
    border: 3px solid rgb(174, 0, 255) 90deg,
        rgba(125, 32, 231, 1) 0%,
        rgba(0, 212, 255, 0) 0%,
        rgba(114, 24, 215, 0.8603816526610644) 0%,
        rgba(60, 12, 136, 1) 44%,
        rgba(125, 32, 231, 1) 95%;
    background: linear-gradient(90deg,
            rgba(125, 32, 231, 1) 0%,
            rgba(0, 212, 255, 0) 0%,
            rgba(114, 24, 215, 0.8603816526610644) 0%,
            rgba(60, 12, 136, 1) 44%,
            rgba(125, 32, 231, 1) 95%);
    margin: auto;
    overflow: hidden;
}

.loading_5 .loading_page_5 .loading_wrap_5 {
    width: 70%;
    height: 45px;
    background: rgb(174, 0, 255);
    animation: loading_page_5 7s ease;
}


@keyframes loading_page_5 {
    from {
        transform: translateX(-100%);
    }

    to {
        width: 70%;
    }
}

.list{
    background: blueviolet;
    height: 2px;
    margin-top: 60px !important;
}
.snd {
    width: 43%;
    margin-left: 150px;
    margin-top: 140px;
}

.snd:last-child {
    width: 43%;
    margin-left: 95px;
}


.experience_h3 {
    transform: translateY(27px) translateX(85px);
    font-size: 20px;
    color: #fff;
}

.experience h2 {
    color: #fff;
    margin-left: 250px;
    display: flex;
    align-items: center;
}

.experience img {
    margin-left: 27px;
}

.myExperience {
    color: #fff;
    position: absolute;
    transform: translateX(265%);
    width: 225px;
}

.myWork {
    width: 1500px;
    justify-content: space-between;
    margin-left: 230px;
    margin-bottom: 50px;
}

.catalog-info {
    display: flex;
    justify-content: space-between;
    width: 450px;
    margin-top: 20px;
}

.catalog-info h3 {
    color: #fff;
    font-family: 'Annie Use Your Telescope', cursive;
}

.catalog img {
    filter: saturate(0);
    transition: .3s;
}

.catalog img:hover {
    filter: saturate(150%);
}

.view {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px 7px;
    color: #fff;
    width: 150px;
    display: flex;
    justify-content: space-around;
}

.myWork-title {
    text-align: center;
    font-family: 'Annie Use Your Telescope', cursive;
    color: #fff;
    margin-bottom: 50px !important;
    margin-top: 50px !important;
}